html {
    font-size: 16px;
}

body {
    font-family: 'Nunito', sans-serif;
    padding: 0 20px;
}

.block__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.block:first-child {
    margin-right: 20px;
}

img {
    max-height: 100px;
}

input[type=submit] {
    width: 100%;
    height: 70px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid rgba(118,2,0,1);
    font-size: 2rem;
}
.delete input[type=submit] {
    width: unset;
    height: auto;
    font-size: inherit;
}
input[type=submit]:hover {
    color: #fff;
    background-color: rgba(118,2,0,1);
    cursor: pointer;
}

.control__section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control {
    width: 70%;
    margin: 20px 0;
}

